.card{
    width: 250px;
    height: 400px;
    padding: 20PX;
    border: 4px solid rgb(63, 8, 85);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    box-shadow: 0px 3px 20px #0000007a;
}

.card img{
    width: 100px;
    height: auto;
}

.card p{
    text-align: center;
}