.menu{
    display: flex;
    width: 100%;
    position: fixed;
    align-items: center;
    justify-content: center;
    height: 80px;
    gap: 20px;
    z-index:  999;
    background-color: rgb(34, 0, 34);
     box-shadow: 0px 3px 20px #00000007;
}

.s1{
    background-color: aliceblue;
    color:  rgb(34, 0, 34);
    height: 100vh;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.left{
    width: 400px;
    height: 400px;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0px 3px 20px #7700ff;
}

.imgPerfil{
    width: 400px;
    height: 400px;
    transition: all 200ms ease-in-out;
}
.imgPerfil:hover{
    transform: scale(1.1);
}


.right{
    width: 500px;    
}

.title{
    font-size: 36px;
    font-weight: bold;
}

.paragraph{
    font-size: 22px;
}

.rodape{
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: rgba(75, 24, 122, 0.801);
    border-top: 2px solid #1f0066c0;
}


.rodape a{
    transition: all 500ms ease-in-out;
    overflow: hidden;
}

.rodape a:hover{
    transform: translate(-15px) scale(1.3);
}

.s5{
    color: #250b47;
}

.s5 h3{
    color: #250b47;
    font-size: 45px; 
}

.s4{
    background-color: #d1aeec;
    color:#2a0061;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 50vh;
    height: auto;
    padding: 50px;
}

.s4 h2{
    color:  #2a0061;;
    font-size: 56px;
    letter-spacing: 10px;
    font-weight: bold; 
}

.formData{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 20px;
    border:2px solid #292450;
    box-shadow: 0px 3px 20px #00000082;
    padding: 20px;
}

.formData label{
    text-align: left;
    width: 100%;
    margin-bottom: -7px;
}

.formData input{
    padding: 10px;
    width: 100%;
    border-radius: 5px;
}

.formData textarea{
    width: 30px;
    height: 370;
    border:none ;
    border: 2px solid #292450;
    border-radius: 5px;
    padding: 10px;
}

.formData button{
    padding: 10px;
    border:none ;
    border: 2px solid #292450;
    border-radius: 5px;
    width: 100%;
    opacity: 0.7;
}

.formData button:hover{
    cursor: pointer;
    opacity: 1;
}
@media (width <=768){
    .s1{
        padding-top: 20px;
        gap: 0;
    }
    .left{
        width: 300px;
        height: 300px;
    }

    .right{
        padding: 20px;
        margin-top: 150;
    }

.s4 h2{
    font-size: 48px;
    letter-spacing: 5px;
}

}
 